    body { 
    background: #565656; 
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
    font-family: "Roboto", Roboto, sans-serif;
}
	footer {
	color: #ffffff;
	opacity: 0.5;
    filter: Alpha(opacity=50); /* IE8 and earlier*/
    font-weight: lighter;
    margin-right: auto;
    margin-left: auto;

}	
    a {
    color: #1CBFA4;	
    font-weight: bolder; 
    margin-right: 20%;
    margin-left: 20%;
    }

    h1 {
    font-size: 500%;
    letter-spacing: 10px;
    text-shadow: 4px 4px #1CBFA4;
    font-weight: bold;
    border: none;
    padding: 100px;
    background: url("http://orig04.deviantart.net/ac16/f/2017/169/4/0/402afb0262d78c59f8296f92eab272d1-dbd7fto.jpg");
    background-repeat: no-repeat;
    margin-bottom: 10px
}
    h2 {
    font-size: 200%;
    font-weight: bolder;
    margin-right: 20%;
    margin-left: 20%;
    }

    h3 {
    font-size: 150%; 
    font-weight: bolder; 
    margin-right: 20%;
    margin-left: 20%;
    }

    h4 {
    font-size: 100%; 
    font-weight: bolder;
    color: #1CBFA4;
    margin-right: 20%;
    margin-left: 20%;
    }

    p {
    font-size: 90%;
    margin-right: 20%;
    margin-left: 20%;
    }

     ul {
    font-size: 90%;
    font-weight: lighter;
    margin-right: 20%;
    margin-left: 20%;
    }

     ol {
    font-size: 120%;
    font-weight: bolder;
    color: #1CBFA4; 
    margin-right: 20%;
    margin-left: 20%;
    }
